.stem {
background-color: black;
margin: auto;
width: 30px;
height: 80px;
}

.traffic-light-body {
background-color: black;
width: 100px;
height: 280px;
margin: auto;
border-radius: 15px 15px;
padding: 15px 10px;

}

.red{
background-color: red;
width: 80px;
height: 80px;
border-radius: 100px;
}

.yellow {
background-color: yellow;
width: 80px;
height: 80px;
border-radius: 100px;
margin: 5px 0;
}
.green{
background-color: green;
width: 80px;
height: 80px;
border-radius: 100px;
}

.selected {
    box-shadow: 1px 1px 40px 20px rgb(247, 255, 185);
    opacity: 1;
    
}